<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <title>IT Support Ticket</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }

        /*
      HTML5 display-role reset for older browsers */
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display:
                block;
        }

        body {
            line-height: 1;
            font-family: 'Poppins', Arial, sans-serif;
        }

        ol,
        ul {
            list-style: none;
        }

        blockquote,
        q {
            quotes: none;
        }

        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
</head>

<body>
    <div style="background-color: white; width: 752px; color: black;">
        <div
            style="background: linear-gradient(180deg, rgba(160, 206, 94, 0.1) 0%, rgba(160, 206, 94, 0) 100%); padding-top: 32px; padding-left: 32px; padding-right: 32px;">
            <div style="display: table; width: 100%; table-layout: fixed;">
                <div style="display: table-cell; text-align: left;">
                    <img src="https://i.postimg.cc/mhW1vKfX/full-scale-logo.png" style="width: 184px; height: 46px;" />
                </div>
                <div style="display: table-cell; text-align: right;">
                    <img src="https://i.postimg.cc/Df8H50vp/it-portal-logo.png" style="width: 170px; height: 40px;" />
                </div>
            </div>
            <h3
                style="font-weight: 600; font-size: 24px; line-height: 32px; margin-top: 24px; margin-bottom: 24px; letter-spacing: 0.24px;">
                An employee has submitted an IT support ticket.
            </h3>
        </div>

        <div style="padding-left: 32px; padding-right: 32px; padding-bottom: 32px;">
            <div
                style="padding: 18px; border-radius: 4px; border-width: 0.75px; border-color: #CFCFCF; border-style: solid;">
                <h4 style="font-weight: 600; font-size: 18px; line-height: 28px; margin-bottom: 10px;">
                    {{type}}:
                    {{ticketId}}
                </h4>
                <div style="display: block; margin-bottom: 16px;">
                    <div style="display: inline-block; vertical-align: top; margin-right: 16px;">
                        <img src="{{employeeProfile}}"
                            style="width: 64px; height: 64px; max-width: 64px; max-height: 64px; border-radius: 2px;" />
                    </div>
                    <div style="display: inline-block; vertical-align: top;">
                        <p style="font-size: 20px; line-height: 28px; font-weight: 600; color: #009C4E;">
                            {{employeeName}}
                        </p>
                        <p style="display: flex; align-items: center; gap: 8px; margin: 0;">
                            <img src="https://i.postimg.cc/fb8MKbhg/la-code.png" style="width: 20px; height: 14px;" />
                            <span
                                style="color: #3F4348; font-weight: 400; font-size: 16px; line-height: 24px; letter-spacing: 0.015em; margin-left: 4px;">
                                {{employeeRole}}
                            </span>
                        </p>
                    </div>
                </div>

                <div style="margin-bottom: 16px; color: #565F5C; line-height: 24px;">
                    {{#if issueCategory}}
                    <p style="font-weight: 600; font-size: 16px;">
                        Issue Category
                    </p>
                    <p>{{issueCategory}}</p>
                    {{else}}
                    <p style="font-weight: 600; font-size: 16px;">
                        Asset Type
                    </p>
                    <p>{{assetType}}</p>
                    {{/if}}
                </div>

                <div style="margin-bottom: 16px; color: #565F5C; line-height: 24px;">
                    {{#if assetAffected}}
                    <p style="font-weight: 600; font-size: 16px;">Asset Affected</p>
                    <p>{{assetAffected}}</p>
                    {{else}}
                    <p style="font-weight: 600; font-size: 16px;">Asset Specifications
                        or Model</p>
                    <p>{{assetSpecsModel}}</p>
                    {{/if}}
                </div>

                <div style="margin-bottom: 16px; color: #565F5C; line-height: 24px;">
                    {{#if issueDescription}}
                    <p style="font-weight: 600; font-size: 16px;">Description of the
                        Problem</p>
                    <p>{{issueDescription}}</p>
                    {{else}}
                    <p style="font-weight: 600; font-size: 16px;">Justification for
                        Request</p>
                    <p>{{justification}}</p>
                    {{/if}}
                </div>

                {{#if requestedDate}}
                <div style="margin-bottom: 16px; color: #565F5C;line-height: 24px;">
                    <p style="font-weight: 600; font-size: 16px;">Requested Date for
                        Asset</p>
                    <p>{{requestedDate}}</p>
                </div>
                {{/if}}

                {{#if supportingFiles}}
                <div style="margin-bottom: 16px; color: #565F5C; line-height: 24px;">
                    <p style="font-weight: 600; font-size: 16px;">Supporting Files</p>
                    {{#each supportingFiles}}
                    {{#if (isImage this)}}
                    <img src="{{this}}" style="width: 160px; height: 160px;" />
                    {{else}}
                    <a href="{{this}}" target="_blank"
                        style="display: block; color: #007BFF; text-decoration: none; margin-bottom: 8px;">
                        View Document
                    </a>
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
            </div>

            <p
                style="font-weight: 400; font-size: 18px; line-height: 28px; color: #1A1A1A; padding-top: 16px; padding-bottom: 16px;">
                Please take the time to approve or reject this IT support ticket.
            </p>

            <div style="text-align: center;">
                <div>
                    <a href="{{rejectUrl}}"
                        style="font-family: 'Poppins', Arial, sans-serif; width: 158px; height: 40px; border-radius: 6px; padding-left: 8px; padding-right: 8px; background-color: #F60000; color: white; border-color: transparent; cursor: pointer; font-size: 16px; line-height: 40px; font-weight: 500; text-decoration: none; display: inline-block; text-align: center; vertical-align: middle;">
                        Reject Ticket
                    </a>
                    <a href="{{approveUrl}}"
                        style="font-family: 'Poppins', Arial, sans-serif; width: 158px; height: 40px; border-radius: 6px; padding-left: 8px; padding-right: 8px; background-color: #009C4E; color: white; border-color: transparent; cursor: pointer; font-size: 16px; line-height: 40px; font-weight: 500; text-decoration: none; display: inline-block; text-align: center; vertical-align: middle;">
                        Approve Ticket
                    </a>
                </div>
            </div>

            <div style="padding-top: 32px;">
                <div
                    style="margin-bottom: 16px; width: 512px; border-width: 0.5px; border-color: #E5E5E5; border-style: solid;">
                </div>

                <div>
                    <img src="https://i.postimg.cc/7h2TQwcJ/footer-logo.png" style="width: 157px; height: 40px;" />
                </div>

                <div
                    style="margin-top: 16px; font-weight: 400; line-height: 16.66px; font-size: 11.11px; color: #999999;">
                    <div style="margin-bottom: 16px;">
                        <p>730 Minnesota Ave, Kansas City, KS 66101</p>
                        <p>+1 913-553-4510</p>
                    </div>

                    <div style="margin-bottom: 16px;">
                        <p>Unit 25F, 25th Floor, Cebu Exchange Tower, Salinas Drive,</p>
                        <p>Brgy. Lahug, Cebu City, Cebu 6000, PH</p>
                        <p>+63 32-328-6075</p>
                    </div>

                    <div
                        style="margin-bottom: 16px; width: 512px; border-width: 0.5px; border-color: #E5E5E5; border-style: solid;">
                    </div>
                    <p>Copyright © 2024 Full Scale</p>
                </div>
            </div>
        </div>

    </div>

</body>

</html>